
.each-slide-effect {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    margin-top: 8vh;
}


.slide-image {
      display: flex;
      align-self: center;
      height:50%;
  }
  
  .react-slideshow-container {
      width:50% !important;
      align-self: center !important;
      margin-left: 25%;
      height:fit-content;
      overflow: hidden;
  }