.App {
  animation: fadeInAnimation ease 5s;
  background-color: black;
  color: white;
  /*text-align: center;*/
}

.App-logo {
  height: 35vmin;
  /*animation: fadeInAnimation ease 5s;*/
  /*pointer-events: none;*/
}

.App-content {
  z-index: 5;
  height: 80vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
}

.Sketch {
  z-index: 1;
  top: 0;
  position: absolute;
}


.Title {
  font-weight: 900;
  font-size: calc(15px + 4vmin);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p {
  padding: 1vh 15vw 0 15vw;
  font-weight: 300;
  font-size: calc(2px + 1.9vmin);
  text-align: center;
  line-height: 150%;
}


@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
